.grid-wrapper {
  margin-top: 20px;
}
.typography-wrapper {
  display: flex;
  margin-top: 250px;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
.typography {
  font-size: 30px;
}
