.random-button {
  background-color: rgb(75, 75, 255) !important;
  color: white !important ;
  margin-bottom: 5px !important;
}
.random-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.card-wrapper {
  height: 550px;
  width: 550px;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.typography-style {
  font-size: 15;
  font-weight: bold;
}
.avatar {
  margin-left: 15px;
}
.subheader {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  height: 120px;
  color: gray;
  font-size: 13;
}
.center-content {
  display: flex;
  justify-content: center;
}
