.search-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.stack-style {
  height: 50px;
  display: flex;
  align-self: center;
}
.button-style {
  background-color: rgb(75, 75, 255) !important;
  color: white !important;
}
